@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-active {
  @apply bg-[#3f3f46] text-zinc-300 outline outline-zinc-600 outline-[1.4px];
}

/* Hide scrollbars globally */
body, html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and newer Edge */
}


*::selection{
  background-color: rgb(19, 138, 19);
}